{% extends 'ecom/admin_base.html' %}

{% load static %}

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load widget_tweaks %}
{% block content %}
    {% if request.user.is_staff %}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Title</title>
        </head>
        <body>

        <div class="container">

            <section class="section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <h2 class="fw-bold">Editar Cliente</h2>
                                </div>
                                <div class="card-body">
                                    <form action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="" class="form-label">Dirección</label>
                                            <input type="text" Required name="address" value="{{ prod.address }}"
                                                   class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Movil</label>
                                            <input type="text" Required name="mobile" value="{{ prod.mobile }}"
                                                   class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            {% if prod.profile_pic %}
                                                <img src="{% static prod.profile_pic.url %}" alt="image here"
                                                     class="img-fluid w-100 img-responsive ">
                                            {% endif %}
                                            <label for="" class="form-label">Imagen</label>
                                            <input type="file" name="profile_pic" class="form-control">
                                        </div>
                                        <button type="submit" class="btn btn-warning">Actualizar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        </body>
        </html>
    {% endif %}
{% endblock content %}