{% extends 'ecom/admin_base.html' %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&family=Viga&display=swap"
      rel="stylesheet">
{% load widget_tweaks %}
{% load static %}
{% block content %}
    {% if request.user.is_staff %}
        <style media="screen">

            h5 {
                font-family: 'Signika Negative', sans-serif;
                font-family: 'Viga', sans-serif;
            }


            p {
                font-family: 'Signika Negative', sans-serif;
                font-family: 'Viga', sans-serif;
            }

            a:link {
                text-decoration: none;
            }

            h6 {
                text-align: center;
            }

            .row {
                margin: 20px;
            }


            .float {
                position: fixed;
                width: 70px;
                height: 70px;
                bottom: 60px;
                right: 60px;
                background-color: red;
                color: #FFF;
                border-radius: 50px;
                text-align: center;
                box-shadow: 3px 3px 3px #999;
            }

            .my-float {
                margin-top: 22px;
            }

            .my-custom-scrollbar {
                position: relative;
                height: 200px;
                overflow: auto;
            }

            .table-wrapper-scroll-y {
                display: block;
            }

        </style>

        <body>
        <style media="screen">
            .alert_warning {
                margin-left: 25%;
                margin-right: 25%;
                padding: 20px;
                background-color: #b92b27;
                color: white;
            }

            .alert_success {
                margin-left: 25%;
                margin-right: 25%;
                padding: 20px;
                background-color: #2ecc71;
                color: white;
            }

            .alert_info {
                margin-left: 25%;
                margin-right: 25%;
                padding: 20px;
                background-color: #ffc000;
                color: white;
            }

            .w3-panel p {
                padding-top: 10px;
            }

            .closebtn {
                margin-left: 15px;
                color: white;
                font-weight: bold;
                float: right;
                font-size: 22px;
                line-height: 20px;
                cursor: pointer;
                transition: 0.3s;
            }

            .closebtn:hover {
                color: black;
            }
        </style>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert_success">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong>{{ message }}</strong><br>
                        </div>
                    {% elif message.tags == 'info' %}

                        <div class="alert alert-warning" role="alert">
                            <strong>{{ message }}</strong> Tienes que verificar el listado de tus productos
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        </div>
                    {% elif message.tags == 'warning' %}

                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <strong></strong> {{ message }}
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        </div>


                    {% elif message.tags == 'error' %}
                        <div class="bg-warning">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong>{{ message }}</strong><br>
                        </div>
                    {% endif %}

                {% endfor %}
            </ul>
        {% endif %}

        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

        <section class="mb-4">
            <div class="card">
                <div class="card-header text-center py-3">
                    <h5 class="mb-0 text-center">
                        <strong>Control de Salida e Ingresos KARDEX</strong>
                    </h5>
                </div>
                <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 400%;">
                    <table class="table table-hover  table table-striped " id="example_table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th>Precio</th>
                            <th>Descripción</th>
                            <th>Proveedor</th>
                            <th>Stock</th>
                            <th>Actualizar</th>
                            <th>Eliminar</th>
                        </tr>
                        </thead>
                        {% for p in products %}
                            {% if p %}
                                <tr>
                                    <td> {{ p.id }}</td>
                                    <td> {{ p.name }}</td>
                                    <td><img src="{% static p.product_image.url %}" alt="Profile Pic" height="40px"
                                             width="40px"/></td>
                                    <td>{{ p.price }}</td>
                                    <td>{{ p.description }}</td>
                                    <td>{{ p.proveedor }}</td>

                                    {% if p.stock >= 15 %}
                                        <td style="background-color:#D5F5E3;" class="text-center"><span
                                                class="badge rounded-pill bg-success"> {{ p.stock }}</span></td>
                                    {% elif p.stock <= 14 and p.stock >= 5 %}
                                        <td style="background:#FCF3CF;" class="text-center"><span
                                                class="badge rounded-pill bg-warning text-dark">
                                        {{ p.stock }}</span></td>
                                    {% elif p.stock <= 4 and p.stock >= 0 %}
                                        <td style="background:#F2D7D5;" class="text-center"><span
                                                class="badge rounded-pill bg-danger"> {{ p.stock }}</span></td>
                                    {% endif %}
                                    <td><a class="btn btn-primary btn-xs" href="{% url 'update-product' p.id %}"><i
                                            class="fas fa-edit"></i></a>
                                        <a class="btn btn-warning btn-xs" href="{% url 'editProduct' p.id %}"><i
                                                class="fas fa-camera"></i></a>
                                    </td>
                                    <td><a class="btn btn-danger btn-xs" href="{% url 'delete-product' p.id %}"><i
                                            class="fas fa-trash-alt"></i></a></td>

                                </tr>
                            {% else %}
                                <br><br><br>
                                <h1>no hay productos</h1>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </section>


        <!-- jQuery js-->
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <!-- Bootstrap js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <!-- jQuery Datatable js -->
        <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <!-- Bootstrap Datatable js -->
        <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#example_table').DataTable({
                        order: [
                            [0, "desc"]
                        ],
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                        },

                    }
                );
            });
        </script>
        <a href="/admin-add-product" class="float">
            <i class="fa fa-plus my-float"></i>
        </a>
        </body>
    {% endif %}
{% endblock content %}