{% extends 'ecom/homebase.html' %}
{% load static %}
{% block content %}
<br><br><br>
<div>
<div class="row">
    <div class="col">

    </div>
    <div class="col">
        <img src="https://www.pngkit.com/png/full/329-3295365_planazo-semana-santa-suspendido-cerrado-png.png" >

    </div>
      <div class="col">

    </div>
</div>
</div>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br>

<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% endblock content %}
