

{% extends 'ecom/homebase.html' %}
{% load static %}
{% block content %}
    <br><br><br>  <br><br><br>
 {%  for p in products %}
 <h2>{{ p.name }}</h2>
                <p>Price ${{ p.price }}</p>
  <input type="number" id="quantity" name="quantity" min="1" max="10">
  <a class="btn btn-primary   btn-sm mr-1 mb-2  "
                                               href="{% url 'cantidad_carrito' p.id %}"> <i
                                                    class="fas fa-shopping-cart pr-2"></i>Añadir
                                            </a>
 {%  endfor %}
      <br><br><br>
{% endblock %}
<h1>asdasdasdasdas</h1>